  .instruction-containter {
    background: white;
    padding: 16px;
  }

  i{
    cursor: pointer;
  }
  
  input {
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    transition: all 200ms;
    padding-bottom: 0.2rem;
  }
  
  input:focus {
    outline: none;
    border-color: #FF5252;
  }
  
  .flex-horoz {
    display: flex;
    flex-direction: row;
    margin: 16px 0;
    align-items: center;
  }
  .flex-horoz>* { margin: 0 8px; }
  .flex-horoz>*:first-child { margin: 0 8px 0 0; }
  .flex-horoz>*:last-child { margin: 0 0 0 8px; }
  
  .instruction { margin: 16px 0; }
  .instruction>*:nth-child(1) { cursor: all-scroll; }
  .instruction>*:nth-child(2) { flex-grow: 10; }
  .instruction>*:nth-child(3) { flex-grow: 0.5;  }
  .instruction>*:nth-child(4) { flex-grow: 0.5;  width: 4rem;}
  .instruction>*:nth-child(5) { cursor: pointer; }
  .instruction input { flex-shrink: 1; }
  
  .add-instructions { cursor: pointer; }