a{
  text-decoration: none;
  color: currentColor
}
a:hover{
  color: currentColor;
}

.mh-5{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.mh-7{
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.mh-20{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

